@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

p{
    line-height: 1;
    font-size: 16px;
}

h1{
    font-size: 40px
}



section{
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
    height: 40vh;
}

.link-hover-effect{
    position: relative;
}

.link-hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: black;
    transition: all 300ms ease;
}

.link-hover-effect:hover:after{
    left: 0;
    width: 100%;
}


.dark-theme .nav-link-anchor,
.dark-theme .fa-adjust,
.dark-theme .menu-dropdown,
.dark-theme .search-title,
.dark-theme .search-subtitle,
.dark-theme .songs-title,
.dark-theme .footer__copyright,
.dark-theme .footer__soical--links,
.dark-theme .footer__logo--popper{
    color: white;
}

.dark-theme .btn,
.dark-theme .btn-search,
.dark-theme .gray,
.dark-theme .star-fall,
.dark-theme .star-fall::before{
    background-color: white;
    color: black;
}

.dark-theme .star-fall,
.dark-theme .star-fall::before{
    box-shadow: 0 0 0 4px rgba(#fff),0 0 0 8px rgba(#fff),0 0 20px rgba(#fff);
}

.dark-theme section,
.dark-theme footer{
    background-color: #242424;
}


.dark-theme .spotify-logo{
    filter: invert(1);
}

.dark-theme .footer_img{
    filter: invert(0);
}

.dark-theme .scroll-icon{
    border-color: white;
}

.dark-theme .scroll-icon:after,
.dark-theme .link-hover-effect-black:after{
    background-color: white;
}

.dark-theme .link-hover-effect--white:after{
    background-color: white
}

.dark-theme .search-img{
    filter: invert(0);
}

.no-cursor{
    cursor: not-allowed;
}

input{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 448px;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 999px;
    padding: 8px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
} 

input::placeholder {
    text-align: center;
}

input:focus {
    text-align: center;
}

.gray{
    color: rgb(245, 245, 245);
}


.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 999;  
}
  
.circle {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #fff;
}

/* NAVAGATION  */

.spotify-logo{
    scale: 2.5;
    padding-left: 16px;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}

.nav-links-list{
    display: flex;
}

.nav-link{
    margin: 0 16px;
}

.nav-link-anchor{
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust{
    font-size: 20px;
}

.menu-dropdown{
    display: none; /* Hidden by default */
    background: none;
    border: none;
    scale: 2;
    padding-right: 12px;
    cursor: pointer;
}


.menu_backdrop-container{
    display: none;
}


@media (max-width:480px) {
    .nav-link:not(:last-child){
        display: none;
    }
    .menu-dropdown{
        display: block;
    }
    .search-subtitle{
        font-size: 16px;
    }
    .search-title{
        text-align: center;
    }
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 32px;
}

.search-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #242424;
}

.search-row{
    display: flex;
    flex-direction: column;
}

.input-box,
.search-subtitle,
.search-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    z-index: 2;
}

.btn-search{
    margin-top: 32px;
}

.btn,
.btn-search{  
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: rgb(247, 250, 252);
    background-color:black;
    border: none;
    border-radius: 999px;
    padding: 8px 40px;
    cursor: pointer;
    overflow: hidden; 
    z-index: 2;
}

.btn span {
    display: inline-block;
    transition: transform 300ms ease;
}

.btn:hover span {
    transform: scale(1.3); /* Zoom in the text by 10% */
}

.search-img{
    position: absolute;
    filter: invert(1);
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 600px;
    padding: 0 40px;
    z-index:1;
}

.songs-title{
    font-size: 20px;
    font-weight: 800;
    padding: 24px 80px;
    display: flex;
    justify-content: center;
}

/* SHOOTING STAR */



@keyframes animateBg{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}

.star-fall{
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #242424;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
    z-index: 1;
}
.star-fall::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#242424,transparent);
    z-index: 1;

}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
.star-fall:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}
.star-fall:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.star-fall:nth-child(3){
    top: 80;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.star-fall:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.star-fall:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.star-fall:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.star-fall:nth-child(7){
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.star-fall:nth-child(8){
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.star-fall:nth-child(9){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
.star-fall:nth-child(9){
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}




/* FOOTER */



footer {
    background-color: rgb(245,245,245);
    position: relative;
}
  
  .footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
  }
  
  .footer_img {
    filter: invert(1);
    width: 200px;
    height: 200px;
  }
  
  .footer__soical--list {
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
  }
  
  .footer__soical--links,
  .footer__logo--popper,
  .footer__copyright {
    color: black;
  }
  
  .footer__logo--popper {
    position: absolute;
    left: 80px;
    bottom: 88px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
  
  .footer__anchor {
    position: relative;
    margin-bottom: 20px;
  }
  .footer__anchor:hover .footer__logo--popper {
    transform: translateX(100px);
    opacity: 1;
  }